body {
    background-color: #5b9eed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555555;
    margin-top: 5%
}

main {
    background-color: #ffffff;
    margin: 0 15%;
    padding: 3% 3%;
    align-content: stretch;
}

section {
    display: flex;
    gap: 5%;
    padding: 2%;
}

.borderBottom {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

img {
    border-radius: 50%;
    width: 6em;
    height: 6em;
}

div {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

h3 {
    margin: 0 0 3%;
}

address {
    font-style: normal;
    color: #b4b2b2;
}